/*The John Grillo CodeFellow's 201 StyleSheet.*/
* {
  box-sizing: border-box;
}

body {
  background-color: #f00;

}

main {
  width: 80%;
  margin: 0 auto;
  background-color: #bbeeff;
}

section {
  float: left;
  background-color: #f4d442;
  width: 33%;
}

section:hover {
  transform: rotate(45deg);
  transform-origin: 20% 40%;
  transition-duration: 9s;
}

section:after {
  text-transform: uppercase;
  float: right;
  content: "Put mouse here to tilt box!";
}

article {
  float: left;
  background-color: #bedead;
  width: 33%;
}

article p:before {
  content: "\/";
}

article p:nth-of-type(even) {
  background-color: #bedead;
  color: #626;

}

article p:hover {
  font-weight: bold;
  font-style: underline;
}

#answers {
  font-weight: bold;
  font-style: underline;
  line-height: 200%;
}

#answers:hover {
  background-color: lime;
}

#answers li:hover {
  background-color: goldenrod;
}

#playerResults {

}

#currentPage {
  display: inline-block;
  background: #1A1A1A;
  color: #FFF;
  font-family: "Century Gothic", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  text-transform: uppercase;

}

aside {
  float: left;
  background-color: #ddd;
  width: 33%;
}

aside figure:hover {
  box-shadow: 0px 0px 12px 20px rgba(0,0,0,0.35);
}
