/*The John Grillo CodeFellow's 201 StyleSheet.

  other color ideas go to: http://bada55.io/
  for oddball hex word colors.
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #f00;

}

main {
  width: 80%;
  margin: 0 auto;
  background-color: #bbeeff;
}

/*****
THIS IS THE NAV BAR

*****/
nav {
  /* display: inline-block; --removing this makes the whole thing stretch across the page*/
  list-style-type: none;
  color: #7A2D15;
}

nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul:hover {
  background-color: #333;
}

nav ul li {
  float: left;
}

nav li a {
    /* display: inline-block;  --why does removing this line collapse the*/
   display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
  background: rgba(218,165,32, 0.8);
}

#currentPage {
  display: inline-block;
  background: rgba(218,165,32, 0.8);
  color: #FFF;
  font-family: "Century Gothic", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;
  text-transform: uppercase;

}

#currentPage:hover {
  background: rgba(218,165,32, 0.8);
  box-shadow: 0px 0px 12px 20px rgba(50,205,50, 0.8); /*glowing lime color */
}

/*****
THIS IS THE FIRST COLUMN

*****/

section {
  float: left;
  background-color: #f4d442;
  width: 33%;
}

section:hover {
  transform: rotate(45deg);
  transform-origin: 20% 40%;
  transition-duration: 9s;
}

section:after {
  text-transform: uppercase;
  float: right;
  content: "Put mouse here to tilt box!";
}

article {
  float: left;
  background-color: #bedead;
  width: 33%;
}

article p:before {
  content: "\/";
}

article p:nth-of-type(even) {
  background-color: #bedead;
  color: #626;

}

article p:hover {
  font-weight: bold;
  font-style: underline;
}

#answers {
  font-weight: bold;
  font-style: underline;
  line-height: 200%;
}

#answers:hover {
  background-color: lime;
}

#answers li:hover {
  background-color: goldenrod;
}

#playerResults {

}



aside {
  float: left;
  background-color: #ddd;
  width: 33%;
}

aside figure:hover {
  box-shadow: 0px 0px 12px 20px rgba(0,0,0,0.35);
}
